<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Tyte" content="text/html;charset=utf-8" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-touch-fullscreen" content="YES"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<title>1</title>	
	<link rel="stylesheet" href="css/farbtastic.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css"/>
</head>
<body>
	<div id='root'>
		<div class='bottomright'>
			<div class="label"><label>Color: </label><input type="text" id="color" name="color" value="#FDCA6A" /></div>
			<div id="picker"></div>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/jsplumb.js"></script>
	<script src="js/farbtastic.js"></script>
	<script src="js/svg.js"></script>
</body>
</html>